{% extends "layout.html" %}

{% block lightbox %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox.css') }}" />
{% endblock %}

{% block content %}
    <div class="row">
    {% for photo in photos %}
    <div class="col-lg-3 col-md-4 col-6">
        <a href="/static/images/gallery/{{ photo }}" data-lightbox="{{ photo }}">
            <img src="/static/images/gallery/{{ photo }}" class="img-fluid">
        </a>
    </div>
    {% endfor %}
    </div>
{% endblock %}

{% block optJS %}
<script src="{{ url_for('static', filename='lightbox.js') }}"></script>
{% endblock %}
