{% extends "layout.html" %}
{% block content %}
    <h1> This is the home page </h1>
    <p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut leo velit. Donec quam turpis, tristique sed condimentum non, varius in nibh. Vestibulum et nisi ut purus vestibulum efficitur. Proin ac libero ornare, mattis risus vitae, pretium purus. Phasellus non mauris feugiat, varius enim at, rutrum nisi. Morbi sagittis semper dictum. In vehicula nisi velit, eu vehicula ante auctor in. </p>
    <p>
    Duis congue imperdiet accumsan. Cras euismod dolor nisl, id vehicula ipsum scelerisque finibus. Morbi purus arcu, volutpat non ultricies pellentesque, venenatis eget ante. Ut elementum nisl nec aliquam maximus. Donec dui arcu, pretium sed sem vel, cursus vestibulum ipsum. Morbi faucibus nibh ac arcu congue luctus. Mauris at nisi et orci condimentum ultrices at nec purus. Sed euismod leo tortor, ac ullamcorper leo rhoncus sit amet. Nam eu felis nisl. </p>
    <p>
    Etiam et ipsum eu lacus pretium feugiat. Aenean nec gravida turpis, quis maximus arcu. Ut eget auctor metus. Nam lobortis mauris id augue luctus commodo. Fusce volutpat lacinia elementum. Phasellus eleifend mauris lacus, non egestas odio sagittis at. Maecenas fermentum turpis non nibh auctor lacinia. Nulla quis viverra turpis.</p>
    <p>
    Suspendisse porta sapien sit amet neque elementum aliquam. Aenean a nisi ultricies, molestie ante sit amet, egestas neque. Fusce fermentum, felis ac lobortis malesuada, lorem nunc varius risus, ac dapibus felis ante sed eros. Maecenas efficitur mollis ultrices. In volutpat risus vitae odio placerat, vitae luctus sapien rutrum. Nullam quis risus ornare, ullamcorper sem quis, vehicula dui. Donec varius augue a mi scelerisque, eu gravida risus sodales. Sed cursus mollis lectus sit amet viverra.</p>
    <p>
    Morbi non leo nec ipsum vehicula placerat. Morbi id suscipit libero. Pellentesque nec porta risus. Maecenas viverra accumsan sem non tincidunt. Cras nec eleifend nibh. In eget fringilla ante, vitae iaculis risus. Vivamus auctor egestas dapibus. Nullam dignissim neque et erat efficitur sagittis in non massa. Aliquam egestas erat id volutpat accumsan. </p>
    </p>
{% endblock content %}
